{{!< layout}}
<header>
    <br>
</header>

<div class="example-container">
    <div class="aui-tabs vertical-tabs" id="tabs-example1">
        <ul class="tabs-menu">
            <li class="menu-item active-tab">
                <a href="#tabs-example-first"><strong>A</strong></a>
            </li>
            <li class="menu-item">
                <a href="#tabs-example-second"><strong>B</strong></a>
            </li>
            <li class="menu-item">
                <a href="#tabs-example-third"><strong>C</strong></a>
            </li>
        </ul>
        <div class="tabs-pane active-pane" id="tabs-example-first">
            <table class="aui aui-table-interactive"><thead>
                  <tr>
                      <h3>Tab A</h3>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      Sample simple text
                  </tr>
              </tbody>
            </table>
        </div>
        <div class="tabs-pane" id="tabs-example-second">
            <div id="pjax-main" class="main aui-page-panel-content">





            <section id="username-mapping">
              <h1>Username aliases</h1>

              <p>

                  For usernames that are mismatched or not found when associating commits with
                  Bitbucket users, specify <a href="https://confluence.atlassian.com/x/xYE-E" target="_blank">username aliases</a>.

              </p>
              <form data-json="[]" class="aui">
                <div class="error aui-message hidden">
                  <span class="aui-icon icon-error"></span>
                  <div class="message"></div>
                </div>
                <table class="aui aui-table-interactive bb-list widget">
                  <thead>
                    <tr>
                      <th class="user">User</th>
                      <th class="alias">Alias</th>
                      <th class="actions">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="form">
                      <td class="user">
                        <div>
                          <label for="username">Username</label>
                          <input class="text bb-user-typeahead" type="text" id="username" autofocus="" placeholder="Search username or full name" autocomplete="off">
                        </div>
                      </td>
                      <td class="alias">
                        <div>
                          <label for="alias">Alias</label>
                          <input class="text" type="text" id="alias" placeholder="Your Name <email@address.com>">
                        </div>
                      </td>
                      <td class="actions">
                        <div>
                          <button class="aui-button" type="submit" resolved="">
                            Add
                          </button>
                        </div>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </form>

            <script id="username-mapping-template" type="text/html">


            <td class="user">
              <div>
                <div class="aui-avatar aui-avatar-xsmall">
                  <div class="aui-avatar-inner">
                    <img src="[[avatar]]">
                  </div>
                </div>
                <a href="/[[username]]/">[[display_name]]</a>
              </div>
            </td>
            <td class="alias">
              <div>
                <span>[[alias]]</span>
              </div>
            </td>
            <td class="actions">
              <div>
                <button class="bb-list-action-icon-button bb-list-action-delete" type="button" title="Delete"><span class="aui-icon aui-icon-small aui-iconfont-remove bb-list-action-icon">Delete</span></button>
              </div>
            </td>

            </script></section>

            </div>
        </div>
        <div class="tabs-pane" id="tabs-example-third">
           <table class="aui aui-table-interactive"><thead>
                  <tr>
                      <h3>Tab A</h3>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      Sample simple text
                  </tr>
              </tbody>
            </table>
        </div>
    </div><!-- .aui-tabs -->
</div>